body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../public/images/banner_bg.png');
    background-color: #3a86ff;
}

.bg-body{
    background-color: #ffffff1d !important;
    height: 300px;
    width: 500px;
    border-radius: 5% !important;
}