<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/footerstyle.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Document</title>
</head>
<body>

		<footer class="footer">
  	 	<div class="row ms-5">
  	 		<div class=" col-3 footer-col">
  	 			
  	 			<ul>
					<h4>company</h4>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class=" col-3 footer-col">
  	 			
  	 			<ul>
					<h4>get help</h4>
  	 				<li><a href="#">Contact Us</a></li>
  	 				<li><a href="#">Add Appointment</a></li>
  	 				<li><a href="#">Doctors</a></li>
  	 				<li><a href="#">Login</a></li>
  	 				<li><a href="#">Sign Up</a></li>
  	 			</ul>
  	 		</div>
  	 		
  	 		<div class="col-3 footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="gx-5">
  	 				<a href="#"><i class="fa-brands fa-facebook"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>

			<div class=" col-3 footer-col">
				<div class="logo">
				<a href="#"><img src="/images/logo.png" alt="logo"></a>
				</div>

			</div>
  	 	</div>
		</footer>
  
</body>
</html>